/*
 * プログラム： システムコンフィギュレーションファイル
 * ファイル名： app.cfg
 * 設定内容　： 静的API（タスク生成、初期化登録）
 */


INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "main.h"

/*
 * 初期化ルーチンの追加
 */
ATT_INI({TA_NULL, 0, initialize});

/*
 * タスクの生成
 */
CRE_TSK(MAIN_TASK,   {TA_ACT, 0, main_task,   MAIN_PRIORITY, STACK_SIZE, NULL});
CRE_TSK(IRQ2SW_TASK, {TA_ACT, 0, irq2sw_task, MID_PRIORITY,  STACK_SIZE, NULL});

/*
 * 割込み要求ライン属性設定
 * IRQ2VectNo = 66
 */
/*
 * CFG_INT(66, {(TA_ENAINT | TA_NEGEDGE), -4});
 */
CFG_INT(INTNO_IRQ2, {INTATR_IRQ, INTPRI_IRQ});
 
/*
 * 割込みサービスルーチン
 */
/*
 * ATT_ISR({TA_NULL, 0, 66, irq2_interrupt, 1});
 */
ATT_ISR({TA_NULL, 0, INTNO_IRQ2, irq2_interrupt, ISRPRI_IRQ});

