/*
 * プログラム： システムコンフィギュレーションファイル
 * ファイル名： app.cfg
 * 設定内容　： 静的API（タスク生成、初期化登録）
 */


INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "main.h"

/*
 * 初期化ルーチンの追加
 */
ATT_INI({TA_NULL, 0, initialize});

/*
 * タスクの生成
 */
CRE_TSK(MAIN_TASK, {TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL});
CRE_TSK(DISP_TASK, {TA_ACT, 0, disp_task, MID_PRIORITY,  STACK_SIZE, NULL});

/*
 * 周期ハンドラ
 */
CRE_CYC(CYC_HANDLER, {TA_STA, 0, cyc_handler, TIM_CYC, TIM_CYC});
