/*
 * プログラム： システムコンフィギュレーションファイル
 * ファイル名： app.cfg
 * 設定内容　： 静的API（タスク生成、初期化登録）
 */


INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "main.h"

/*
 * 初期化ルーチンの追加
 */
ATT_INI({TA_NULL, 0, initialize});

/*
 * タスクの生成
 */
CRE_TSK(MAIN_TASK,   {TA_ACT, 0, main_task,   MAIN_PRIORITY, STACK_SIZE, NULL});

/*
 * 割込み要求ライン属性設定
 * IRQ2VectNo = 66
 */
/*
 * CFG_INT(66, {(TA_ENAINT | TA_NEGEDGE), -4});
 */
CFG_INT(INTNO_IRQ2, {INTATR_IRQ, INTPRI_IRQ});
 
/*
 * 割込みハンドラ
 */
/* DEF_INH(割込み番号, {属性, 起動番地} */
/* 割込み番号：IRQ2番号、属性：なし、起動番地：関数名 */
DEF_INH(INHNO_IRQ2, {TA_NULL, irq2_inthandler});


